torch
torchvision
torchaudio
datasets
sentencepiece
protobuf
scikit-learn
pandas
tqdm
pymorphy2
nltk
transformers
accelerate
peft # Для эффективного обучения
bitsandbytes # Для 4-bit квантования
wandb  # Для визуализации (опционально)